local-geocode==0.0.1
git+https://github.com/digitalepidemiologylab/twiprocess.git
git+https://github.com/digitalepidemiologylab/crowdbreaks-streamer.git@12-sample-lambda#egg=awstools&subdirectory=awstools